DirectoryIndex front.php
Options -Indexes

# All requests to the front controller
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ front.php [L]
